<div class="card text-center">
  <div class="card-header">
    <%= @tool.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @tool.name%></h5>
    <%= image_tag "DeWalt Hammer.jpg", alt: "DeWalt Hammer", width: 200 %>
    <p><a href="#" class="btn btn-primary">Book Me</a></p>
  </div>
  <div class="card-footer text-muted">
    <p>
    <%= @tool.details %>
    </p>
  </div>
</div>
