
  <div style="width: 24px;"></div>

  <div class="w-50">
  <%= simple_form_for [@tool, @booking] do |f| %>
    <div class="px-3">
      <div class="input-group pb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">COMMENT</span>
        </div>
        <%= f.text_field :request, class: "form-control", placeholder: "Please explain why you need this tool" %>
      </div>
      <div class="input-group pb-1 w-50">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">PICK-UP</span>
        </div>
        <%= f.date_field :start_date, class: "form-control", data: { controller:"calendar", action:"focusin->calendar#showCalendar" } %>
      </div>
      <div class="input-group pb-3 w-50">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">RETURN</span>
        </div>
        <%= f.date_field :end_date, class: "form-control", data: { controller:"calendar", action:"focusin->calendar#showCalendar" } %>
      </div>
      <div class="input-group">
        <button type="submit" class="btn btn-primary text-white">BOOK TOOL&nbsp;&nbsp;<i class="fa-regular fa-calendar-check"></i></button>
      </div>
    </div>
  <% end %>
  </div>
