<nav class="px-3 py-2 bg-light border-bottom fixed-top">
  <div class="d-flex justify-content-between align-items-center">
    <div style="width: 360px;">
      <%= link_to tools_path do %>
        <%= image_tag "cool_tool_logo.png", style: "height: 48px;" %>
      <% end %>
    </div>
    <div class="flex-grow-1 d-flex justify-content-around">
      <%= link_to new_tool_path do %>
        MY TOOLBOX
      <% end %>
    </div>
    <div class="d-flex justify-content-end" style="width: 360px;">
      <%= link_to bookings_path do %>
        <i class="fa-solid fa-circle-user fa-2x"></i>
      <% end %>
    </div>
  </div>
</nav>
