  <div style="height: 24px;"></div>
  <div class="mx-auto my-3 w-50">
    <form action="/tools">
      <div class="input-group input-group-lg">
        <input type="text" name="search" class="form-control" placeholder="Search for a tool or a category ...">
        <button type="submit" class="btn btn-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>
  </div>
  <div style="height: 24px;"></div>
