.input-dates {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.container-booking-form {
  width: 40%;
  margin: 0 auto;
}

.input-dates-fields {
  width: 100%;
}

#input-start-date {
  margin-right: 2px;
}

.booking-button {
  display: flex;
  justify-content: center;
}
